
{% load static %}


<!DOCTYPE html>
<html lang="zxx" class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="CodePixar">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <title>Meong</title>
        <!-- CSS -->
        <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %">
        <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">	
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/ion.rangeSlider.css' %}" />
        <link rel="stylesheet" href="{% static 'css/ion.rangeSlider.skinFlat.css' %}" />
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
<body>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="comment_list">
                <div class="review_item">
                    {% for comment in cmt %}
                    <div class="media">
                        <div class="media-body">
                            <h2>{{ comment.nama }}</h2>
                            <h5>{{ comment.waktu }}</h5>
                        </div>
                    </div>
                    <p>{{ comment.text }}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="review_box">
                <h4>Post a comment</h4>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ cmtform.nama }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ cmtform.email }}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ cmtform.text }}
                        </div>
                    </div>
                    <div class="col-md-12 text-left">
                        <button type="submit" value="submit" class="btn primary-btn">Submit Now</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</body>
</html>


